<header>
  <h1>CINEMA</h1>
</header>
<main class="mb-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/peliculas']">Peliculas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/actores']">Actores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/series']">Series</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Eventos</a>
    </li>
  </ul>
</main>